.block {
    border: 1px solid black;
    width : 150px;
    height : 150px;
    color: white;
    display : inline-block;
}

/* 
    특정 div 위치에 특별한 디잔인을 넣기를 원한다면
    class 옆에 띄어쓰기로 클래서명을 한가지 더 작성해주면 된다

    동일한 이름의 클래스명을 여러번 작성해서 디자인을 설정할 경우
    맨 마지막에 작성한 디자인만 적용
*/
.영역1 {
    background-color: red;
}

.영역2 {
    background-color: orange;
}
.영역3 {
    background-color: yellow;
}
.영역4 {
    background-color: green;
}
.영역5 {
    background-color: blue;
}
.키큰애 {
    width: 500px;
}